html, body {
  margin: 0;
  padding: 0;
}

.disabled {
  pointer-events: none; 
  opacity: 0.4;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca el canvas en una capa inferior */
}

.arrow-icon {
  font-size: 0.8em; 
  position: relative; 
  top: -3px;
}

.camera-icon {
  font-size: 0.9em; 
  position: relative; 
  top: 3px; 
}

.rightButtonBar {
  position: fixed;
  top: 0.5%;
  right: 0.5%;
  height: 99%;
  width: 2em; 
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  justify-content: flex-start; /* Alinea los elementos al principio */
  align-items: center; /* Centra horizontalmente los elementos */
  z-index: 999;
}

#aboutButton,
#changeCameraButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em; 
  min-width: 40px;
  min-height: 40px;
  border: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: rgba(150, 150, 150, 0.7);
  margin-bottom: 2%; /* Espacio entre los botones */
  border-radius: 50%; /* Asegura que los botones sean redondos */
}

#changeCameraButton {
  margin-top: auto; 
}

.textContainer {
  position: absolute;
  left: 5%;
  top: 10%; 
  right: inherit;
  max-height: 80%;
  width: 80%; 
  max-width: 800px; 
  font-family: 'Inconsolata', monospace; 
  font-size: 24px; 
  color: white;
}

.bottomButtonBar {
  position: fixed;
  left: 0;
  bottom: 0.5%;
  left: 0; /* Ajustar el borde izquierdo a 0 */
  width: 100%; /* Ocupar todo el ancho de la pantalla */
  height: 3em; /* Establecer la altura igual al botón más grande */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomButtonBar button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  height: 2em;
  width: 2em; /* Ancho de los botones más pequeños */
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: rgba(150, 150, 150, 0.7);
  border: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-right: 0.2%; /* Espacio entre los botones */
}

#addButton {
  bottom: 1%;
  left: calc(50% - 2em);
  width: 3em; 
  height: 3em;
  min-width: 60px;
  min-height: 60px;
}

#shareButton {
  left: 50%;
}

#seePoemButton {
  left: calc(50% + 2em);
}

/* Estilos del modal */
.modal {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  max-height: 80%;
  width: 80%;
  max-width: 800px;
  overflow-y: auto;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: 'Inconsolata', monospace;
}

.modal-content {
  position: relative;
}

/* Estilos del botón de cerrar */
.closeButton {
  text-align: right;
  font-size: x-large;
  cursor: pointer;
  z-index: 999;
}

/* Estilos de los elementos dentro del modal */
.modal-content h1,
.modal-content h2,
.modal-content p {
  margin-bottom: 10px;
}

.modal-content a {
  color: blue;
}

.modalFooter {
  font-size: small;
}

/* Estilos del modo de uso */
#howTo {
  margin-top: 20px;
  margin-bottom: 40px;
}

#howTo div {
  margin-bottom: 10px;
}

#howTo i {
  margin-right: 5px;
}

.inputContainer {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: calc(50% - 7em);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  height: 1em;
  width: 10em;
}

.inputContainer input[type="text"] {
  padding: 9px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Inconsolata, monospace;
}

.inputContainer button {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  font-size: 34px;
  color: white;
}
